.login {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

#formLogin {
    background-color: rgba(148, 144, 144, 0.7);
    backdrop-filter: blur(10px);
}

.espaco {
    width: 3rem;
}

.title {
    margin-left: 4rem;
}

.registrar {
    margin-left: 3rem;
}

.linkRegistrar {
    text-decoration: none;
    color: rgb(0, 130, 190);
}

.linkRegistrar:hover {
    text-decoration: underline;
}